@use '@/assets/styles/variables' as *;

*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

#app, body {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px;
}

.content-wrapper {
    max-width: 800px;
    margin: 0 auto;
    padding: 80px 0;
}

.subtitle {
    color: $primary-color;
    font-size: 24px;
    font-weight: bold;
}
