@use '@/assets/styles/variables' as *;

*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

#app, body {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 80px 60px;

    @media (min-width: $laptop) {
        max-width: 1200px;
    }
}

.content-wrapper {
    max-width: 800px;
    margin: 0 auto;
    padding: 90px 0;
}

.subtitle {
    color: $primary-color;
    font-size: 24px;
    font-weight: bold;
}

.s-text {
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    color: $secondary-color;
}

.xs-text {
    font-size: 12px;
    line-height: 16px;
    font-weight: 300;
    color: $secondary-color;
}
