@mixin boundaries {
    border: 1px solid #ebebeb;
    box-shadow:
        rgba(0, 0, 0, 0) 0 0 0 0,
        rgba(0, 0, 0, 0) 0 0 0 0,
        rgba(0, 0, 0, 0.1) 0 10px 15px -3px,
        rgba(0, 0, 0, 0.1) 0 4px 6px -4px;
}
