@use '@/assets/styles/variables' as *;
@use 'sass:color';

.dark-button {
    color: $light-color !important;

    background: $dark-color !important;

    transition: all 0.7s ease !important;

    &:hover {
        color: $dark-color !important;

        background: $light-color !important;
    }
}

.primary-button {
    background: $primary-color !important;

    color: $light-color !important;

    transition: all 0.7s ease !important;

    &:hover {
        background: color.adjust($primary-color, $lightness: -10%) !important;
    }
}

.v-btn.v-btn--variant-plain {
    color: $dark-color !important;

    transition: all 0.7s ease !important;

    &:hover {
        color: $light-color !important;
    }
}

.plain-button.v-btn--variant-plain {
    color: $primary-color !important;

    transition: all 0.7s ease !important;

    &:hover {
        color: $dark-color !important;
    }
}

.v-input--focused .v-field__outline__start,
.v-input--focused .v-field__outline__notch,
.v-input--focused .v-field__outline__end {
    border-color: $primary-color !important;
}

.v-field__append-inner {
    width: 25px !important;
}

.select {
    .v-input__control {
        color: $primary-color !important;
    }

    .v-field-label {
        color: $primary-color !important;
        opacity: 1 !important;
    }

    .v-field {
        height: 40px;
    }
}

.my-select-menu .v-list-item {
    color: $primary-color !important;
}
