// разрешения экрана
$laptop: 1024px;
$tablet: 768px;
$mobile: 356px;

// цвета фона
$primary-color: #14919b;
$secondary-bg-color: #9b1491;
$additional-bg-color: #919b14;

// цвета текта
$light-color: #ffffff;
$dark-color: #000000;
$secondary-color: rgb(51, 51, 51);
$additional-color: rgb(102, 102, 102);

$light-border-color: rgb(235, 235, 235);
