// разрешения экрана
$laptop: 1024px;
$tablet: 768px;
$mobile: 356px;

// цвета фона
$primary-color: #14919b;

// цвета текта
$light-color: #ffffff;
$dark-color: #000000;
$secondary-color: rgb(51, 51, 51);
